<div class="form">
  <h1>Create User</h1>
  <form [formGroup]="createUser">
    <mat-form-field>
      <input
        matInput
        placeholder="Email"
        formControlName="email"
        name="email"
        required
        email
      />
      <mat-error> Please provide a valid email address </mat-error>
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        [formControl]="createUser.controls.password"
        [type]="hide ? 'password' : 'text'"
        placeholder="Enter your password"
      />
      <button
        mat-icon-button
        matSuffix
        (click)="hide = !hide"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide"
      >
        <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
      </button>
      <mat-error> Please enter a password </mat-error>
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        placeholder="First Name"
        formControlName="firstName"
        name="firstName"
        required
      />
      <mat-error> Please enter the user's first name </mat-error>
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        placeholder="Last Name"
        formControlName="lastName"
        name="lastName"
        required
      />
      <mat-error> Please enter the user's last name </mat-error>
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        placeholder="CNP"
        formControlName="CNP"
        name="CNP"
        minlength="13"
        maxlength="13"
        required
      />
      <mat-error> Please enter a valid CNP </mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label *ngIf="selectedFiles; else newFile">{{
        selectedFiles.item(0).name
      }}</mat-label>
      <ng-template #newFile>
        <mat-label>Choose file</mat-label>
      </ng-template>
      <input matInput disabled />
      <button mat-icon-button matSuffix (click)="fileInput.click()">
        <mat-icon>attach_file</mat-icon>
      </button>
      <input
        hidden
        (change)="selectFile($event)"
        #fileInput
        type="file"
        id="file"
        formControlName="photo"
        name="photo"
        accept=".png, .jpg, .jpeg"
        required
      />
      <mat-error> Please provide a photo </mat-error>
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        placeholder="Badge number"
        formControlName="badge"
        name="badge"
        required
      />
      <mat-error> Please provide a badge number </mat-error>
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        placeholder="Division"
        formControlName="division"
        name="division"
        required
      />
      <mat-error> Please provide a division </mat-error>
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        placeholder="Access interval"
        formControlName="accessInterval"
        name="accessInterval"
        required
      />
      <mat-error> Please enter an interval of access </mat-error>
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        placeholder="IMEI"
        formControlName="IMEI"
        name="IMEI"
        required
        minlength="15"
        maxlength="15"
      />
      <mat-error>Please enter a valid IMEI</mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Choose a role</mat-label>
      <mat-select formControlName="role" name="role">
        <mat-option *ngFor="let role of roles" [value]="role.id">
          {{ role.name }}
        </mat-option>
      </mat-select>
      <mat-error> Please select a role </mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Choose the authorized user responsible</mat-label>
      <mat-select
        formControlName="createdByAuthorisedUser"
        name="authorizedUser"
      >
        <mat-option
          *ngFor="let authorizedUser of authorizedUsers"
          [value]="authorizedUser.CNP"
        >
          {{ authorizedUser | fullname }}
        </mat-option>
      </mat-select>
      <mat-error> Please select an authorized user </mat-error>
    </mat-form-field>
  </form>
  <button class="cta" (click)="Save()">
    <span> Save</span>
    <svg viewBox="0 0 13 10" height="10px" width="15px">
      <path d="M1,5 L11,5"></path>
      <polyline points="8 1 12 5 8 9"></polyline>
    </svg>
  </button>
</div>
