<div class="mx-4">
  <ng-container *ngIf="employees">
    <h1>Prezenta angajatului {{ employees[0] | fullname }}</h1>
  </ng-container>
  <mat-form-field class="filter">
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" #input />
  </mat-form-field>
  <div
    class="d-flex"
    style="justify-content: space-between; margin-bottom: 10px"
  >
    <button mat-raised-button color="primary" (click)="addEntry()">
      Add Entry
    </button>
    <button mat-raised-button color="warn" (click)="addExit()">Add Exit</button>
  </div>
  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="IMEI">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>IMEI</th>
        <td mat-cell *matCellDef="let attendance">
          {{ attendance.IMEI }}
        </td>
      </ng-container>

      <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Entry Type</th>
        <td mat-cell *matCellDef="let attendance">
          {{ attendance.type === true ? "Entry" : "Exit" }}
        </td>
      </ng-container>

      <ng-container matColumnDef="created_at">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Date</th>
        <td mat-cell *matCellDef="let attendance">
          {{ attendance.created_at | date : "medium" }}
        </td>
      </ng-container>
      <tr mat-row *matRowDef="let attendance; columns: displayedColumns"></tr>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    </table>
    <mat-paginator
      [length]="this.dataSource.data.length"
      [pageSizeOptions]="[10, 20, 30, 100]"
      aria-label="Select page of attendance record"
    ></mat-paginator>
  </div>
</div>
