<mat-toolbar style="margin-bottom: 10px">
  <img
    src="./././assets/images/logo_preview_rev_1.jpg"
    alt="logo"
    style="
      display: inline-flex;
      max-height: fit-content;
      max-width: 100px;
      object-fit: cover;
    "
  />
  <div style="display: flex; flex-direction: column">
    <strong style="color: black; padding: 0px"> Accessify </strong>
    <p style="color: black; font-size: 15px; padding: 0px">V 1.0.0</p>
  </div>
  <a
    class="link"
    routerLink="/employees"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
    >Employees</a
  >
  <div class="buttons">
    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="menu">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item type="button" (click)="logout()">Logout</button>
      <button mat-menu-item type="button" (click)="create()">Create</button>
    </mat-menu>
  </div>
</mat-toolbar>
